{{define "page"}}
<main class="container mt-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="h4 mb-0">Lista de Colaboradores</h2>
            <form id="form-criar-colaborador" method="get" action="/usuarios/colaboradores/criar" style="display:inline;">
                <button type="submit" class="btn btn-primary mb-2">Novo Colaborador</button>
            </form>
        </div>
        <section class="card">
            <div class="table-responsive">
                <table class="table align-middle table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th>UUID</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Cargo</th>
                            <th>AÇÕES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .Usuarios }}
                        <tr>
                            <td>{{ .UUID }}</td>
                            <td>{{ .Nome }}</td>
                            <td>{{ .Email }}</td>
                            <td>{{ .Cargo }}</td>
                            <td>
                                <form id="form-ver-{{.UUID}}" method="get" action="/colaboradores/{{ .UUID }}/tarefas"
                                    style="display:inline;">
                                    <button type="submit" class="btn btn-info mb-2">
                                        Minhas Tarefas
                                    </button>
                                </form>
                                <form id="form-ver-{{.UUID}}" method="get" action="/colaboradores/{{ .UUID }}/processos"
                                    style="display:inline;">
                                    <button type="submit" class="btn btn-info mb-2">
                                        Meus Processos
                                    </button>
                                </form>
                                <form id="form-editar-{{.UUID}}" method="get" action="/usuarios/{{ .UUID }}/editar"
                                    style="display:inline;">
                                    <button type="submit" class="btn btn-warning mb-2">
                                        Editar
                                    </button>
                                </form>
                                <form id="form-deletar-{{.UUID}}" method="post" action="/usuarios/{{ .UUID }}/deletar"
                                    style="display:inline;">
                                    <button type="button" onclick="onClickDeletar('{{.UUID}}')"
                                        class="btn btn-danger mb-2">
                                        Deletar
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </section>

        <!-- scripts javascript -->
        <script>
            function onClickDeletar(id) {
                let resposta = confirm("Tem certeza que deseja Deletar ID=" + id + " ??")

                if (resposta) {
                    document.getElementById('form-deletar-' + id).submit();
                }
            }
        </script>
    </div>
</main>
{{end}}

{{define "title"}} COLABORADORES - Projeto Go{{end}}