{{ define "tarefa-listar" }}

<!-- Bloco de Tarefas -->
<div class="table-responsive">
                <table class="table align-middle table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th>UUID</th>
                            <th>Nome</th>
                            <th>Processo (UUID)</th>
                            <th>Responsável (UUID)</th>
                            <th>AÇÕES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range . }}
                        <tr>
                            <td>{{ .UUID }}</td>
                            <td>{{ .Nome }}</td>
                            <td>{{ .ProcessoUUID }}</td>
                            <td>{{ .ResponsavelUUID }}</td>

                            <td>
                                <form id="form-ver-{{.UUID}}" method="get" action="/tarefas/{{.UUID}}"
                                    style="display:inline;">
                                    <button type="submit" class="btn btn-info mb-2">Ver</button>
                                </form>

                                <form id="form-editar-{{.UUID}}" method="get" action="/tarefas/{{.UUID}}/editar"
                                    style="display:inline;">
                                    <button type="submit" class="btn btn-warning mb-2">Editar</button>
                                </form>
                                <form id="form-deletar-{{.UUID}}" method="post" action="/tarefas/{{.UUID}}/deletar"
                                    style="display:inline;">
                                    <input type="hidden" class="form-control" name="ProcessoUUID"
                                        value="{{ .ProcessoUUID }}" required>
                                    <button type="button" onclick="onClickDeletar('{{.UUID}}')"
                                        class="btn btn-danger mb-2">Deletar</button>
                                </form>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>

    <script>
    function onClickConcluir(id) {
        let resposta = confirm("Tem certeza que deseja deletar a Tarefa ID=" + id + " ??")
        if (resposta) {
            document.getElementById('form-concluir-' + id).submit();
        }
    }
</script>


{{ end }}