{{ define "page" }}

<main class="container mt-5">
	<div class="row mb-4">


		<!-- compomente de detalhes do Usuario -->
		{{ template "usuario-detalhes" .Usuario }}
		<!-- compomente de lista de Arquivos do usuario -->
		{{ template "arquivo-listar" .Arquivo }}
		<!-- componente de lista de Tarefas do usuario -->
		{{ template "tarefa-listar" .Tarefa }}
		<!-- componente de lista de processos do usuário -->
		{{ template "processo-listar" .Processo }}


	</div>
</main>


{{ end }}

{{ define "title" }} Ver Usuario {{ end }}