{{ define "page" }}

<main class="container mt-5">
	<div class="row mb-4">


		<!-- compomente de detalhes do Usuario -->
		<div class="col-md-6 mb-3">
			{{ exibeComponente "usuario-detalhes" .Usuario }}
		</div>

		<!-- compomente de lista de Arquivos do usuario -->
		<div class="col-md-6 mb-3">
			{{ exibeComponente "arquivo-listar" .Arquivos }}
		</div>

		<!-- componente de lista de Tarefas do usuario -->
		<div class="row">
			{{ exibeComponente "tarefa-listar" .Tarefas }}
		</div>
		<!-- componente de lista de processos do usuário -->
		<div class="row">
			{{ exibeComponente "processo-listar" .Processos }}
		</div>



	</div>
</main>


{{ end }}

{{ define "title" }} Ver Usuario {{ end }}