{{ define "title" }} Ver Processo {{ end }}

{{ define "page" }}
<main class="container mt-5">

	<div class="row mb-4">
		<!-- Bloco do Processo -->
		<div class="col-md-6 mb-3">

			<div class="d-flex justify-content-between align-items-center mb-2">
				<form method="get" action="/processos/{{ .Processo.UUID }}/editar" style="display:inline;">
					<input type="hidden" name="uuid" value="{{ .Processo.UUID }}" />
					<button type="submit" class="btn btn-primary btn-sm">Editar Processo</button>
				</form>
			</div>
			{{ exibeComponente "processo-detalhes" .Processo }}
		</div>

		<!-- Bloco de Anexos -->
		<div class="col-md-6 mb-3">
			<div class="d-flex justify-content-between align-items-center mb-2">
				<h2 class="h4 mb-0">ANEXOS</h2>
			</div>
			{{ exibeComponente "arquivo-listar" .Arquivos }}
		</div>
	</div>

	<!-- Bloco de Tarefas -->
	<div class="row">
		<div class="col-12">
			<div class="d-flex justify-content-between align-items-center mb-2">
				<h2 class="h4 mb-0">TAREFAS</h2>
				<a href="/tarefas/criar?ProcessoUUID={{ .Processo.UUID }}" class="btn btn-primary btn-sm">Adicionar
					Tarefa
				</a>
			</div>

			<section class="card">
				<div class="table-responsive">
					{{ exibeComponente "tarefa-listar" .Tarefas }}
				</div>
			</section>


		</div>
	</div>


</main>

{{ end }}