{{ define "page" }}
<main class="container mt-5">
	<div class="container">

		<div class="d-flex justify-content-between align-items-center mb-3">
			<h2 class="h4 mb-0">Lista de Processo</h2>
			<form id="form-criar-usuario" method="get" action="/processos/criar" style="display:inline;">
				<button onclick="onClickNovo()" class="btn btn-primary mb-2">Novo</button>
			</form>
		</div>
		<section class="card">
			{{ exibeComponente "processo-listar" .Processos }}
		</section>



	</main>

{{ end }}

{{ define "title" }}Index - Projeto Go{{ end }}