{{ define "title" }} Ver Tarefa {{ end }}

{{ define "page" }}
<main class="container mt-5">
	<div class="row mb-4">
		<div class="col-md-12 mb-3">
			<div class="d-flex justify-content-between align-items-center mb-2">
				<h2 class="h4 mb-0">Detalhes da Tarefa: {{ .Tarefa.Nome }}</h2>
				<form method="get" action="/tarefas/{{ .Tarefa.UUID }}/editar" style="display:inline;">
					<input type="hidden" name="uuid" value="{{ .UUID }}" />
					<button type="submit" class="btn btn-primary btn-sm">Editar Tarefa</button>
				</form>
			</div>
			<div class="card">
				{{ exibeComponente "tarefa-detalhes" .Tarefa }}
			</div>
		</div>
	</div>
</main>
{{ end }}