{{ define "page" }}
<main class="container mt-5">
	<div class="container">

		<div class="d-flex justify-content-between align-items-center mb-3">
			<h2 class="h4 mb-0">Lista de Tarefas do Processo {{ .ProcessoUUID }}</h2>

			{{ if .ProcessoUUID }}

				<form id="form-criar-tarefa" method="get" action="/tarefas/criar" style="display:inline;">
					<input type="hidden" class="form-control" name="ProcessoUUID" value="{{ .ProcessoUUID }}" required>
					<input type="hidden" class="form-control" name="ResponsavelUUID" value="{{ .ResponsavelUUID }}"
						required>
					<button type="submit" class="btn btn-primary mb-2">Novo</button>
				</form>
			{{ end }}
		</div>
		<section class="card">
			<div class="row">
				{{ exibeComponente "tarefa-listar" .Tarefas }}
			</div>
		</section>


	</div>
</main>
{{ end }}

{{ define "title" }}Lista de Tarefas - Projeto Go{{ end }}