{{ define "_footer" }}

<footer class="bg-light py-3 border-top">
    <div class="container text-center">
        <span class="text-muted">Gestor de Processos - Por Handerson Gleber</span>
    </div>
</footer>

{{ end }}